/* Color customizations */
/* Start with sidebar colours */
:root {
  --primary: #4D394B;
  --primary-hover: #3E313C;
  --secondary: #4C9689;
  --highlight: #EB4D5C;
  --on-primary: #FFFFFF;
  --on-secondary: #FFFFFF;
  --on-highlight: #FFFFFF;
  --chat: #0d0d0f;
  --chat-hover: #3E313C;
  --on-chat: #e0e0e2;
  --primary-dark: #211820;
  --primary-light: #795a76;
  --secondary-dark: #32635b;
  --secondary-light: #75b9ad;
  --chat-dark: #000000;
  --chat-light: #313138;
  --on-primary-strong: #ffffff;
  --on-secondary-strong: #ffffff;
  --on-chat-strong: #ffffff;
  --on-primary-muted: #bfbfbf;
  --on-secondary-muted: #bfbfbf;
  --on-chat-muted: #9e9ea4;
}
.reset-all {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-color: transparent;
  color: inherit;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
.primary-area {
  background-color: var(--primary);
  color: var(--on-primary);
}
.secondary-area {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
.chat-area {
  background-color: var(--chat);
  color: var(--on-chat);
}
.input {
  background-color: var(--primary-light);
  color: var(--on-primary);
  border-color: transparent;
}
#client_body:not(.onboarding)::before {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-color: transparent;
  color: inherit;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  background-color: var(--primary);
  color: var(--on-primary);
}
#client_header {
  background-color: var(--primary);
  color: var(--on-primary);
  /* channel header */
  /* header buttons */
  /* search form */
}
#client_header .channel_header {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-color: transparent;
  color: inherit;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
#client_header .channel_title .channel_name {
  color: var(--on-primary-strong);
}
#client_header .channel_header .channel_header__tabs .channel_header__tab {
  color: var(--on-primary-muted);
}
#client_header .channel_header .channel_header__tabs .channel_header__tab.--active {
  color: var(--secondary);
}
#client_header .channel_header .channel_header__tabs .channel_header__tab.--active::after {
  border-color: var(--secondary);
  bottom: 0.5rem;
}
#client_header .channel_header_icon:not(:hover):not(.active) {
  color: var(--primary-light);
}
#client_header .channel_header .blue_on_hover:hover,
#client_header .channel_actions_toggle.active:focus,
#client_header .details_toggle.active:focus,
#client_header #flex_menu_toggle.active,
#client_header #flex_menu_toggle.active:focus {
  color: var(--secondary);
}
#client_header #canvases_toggle.active,
#client_header #canvases_toggle.active:hover #details_toggle.active:hover,
#client_header #details_toggle.active,
#client_header #recent_mentions_toggle.active,
#client_header #recent_mentions_toggle.active:hover,
#client_header #sli_recap_toggle.active,
#client_header #stars_toggle.active,
#client_header #stars_toggle.active:hover {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
#client_header .search_form {
  background-color: var(--primary-light);
  color: var(--on-primary);
  border-color: transparent;
}
#client_header #search_container .search_input_wrapper .ql-placeholder,
#client_header .texty_legacy.texty_single_line_input {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-color: transparent;
  color: inherit;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
#client_header #search_container .search_input_wrapper .ql-placeholder,
#client_header #search_container .icon_search,
#client_header .c-react_search_input .ts_icon_times_small {
  color: var(--primary);
}
#client_header #search_container .active .icon_search,
#client_header .c-react_search_input .active .ts_icon_times_small,
#client_header .texty_legacy.texty_single_line_input {
  color: var(--on-primary);
}
#client_header .c-react_search_input:active .icon_search_wrapper *,
#client_header .c-react_search_input:active .search_input_wrapper *,
#client_header .c-react_search_input:active .ts_icon_times_small,
#client_header .c-react_search_input:focus .icon_search_wrapper *,
#client_header .c-react_search_input:focus .search_input_wrapper *,
#client_header .c-react_search_input:focus .ts_icon_times_small,
#client_header .c-react_search_input:hover .icon_search_wrapper *,
#client_header .c-react_search_input:hover .search_input_wrapper *,
#client_header .c-react_search_input:hover .ts_icon_times_small {
  color: var(--secondary) !important;
}
.menu.p-emoji_picker {
  background-color: var(--primary-dark);
  color: var(--on-primary);
}
.menu.p-emoji_picker .p-emoji_picker__footer,
.menu.p-emoji_picker .p-emoji_picker__preview_text {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-color: transparent;
  color: inherit;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
.menu.p-emoji_picker .p-emoji_picker__emoji_deluxe_label,
.menu.p-emoji_picker .p-emoji_picker__group_tab {
  color: var(--on-primary-muted);
}
.menu.p-emoji_picker .p-emoji_picker__group_tab:hover {
  background-color: var(--primary-light);
}
.menu.p-emoji_picker .p-emoji_picker__input_container,
.menu.p-emoji_picker .p-emoji_picker__list_container,
.menu.p-emoji_picker .p-emoji_picker__group_tab--active,
.menu.p-emoji_picker .p-emoji_picker__skintone_options,
.menu.p-emoji_picker .p-emoji_picker__content:hover .p-emoji_picker__skintone_btn_container,
.menu.p-emoji_picker .p-emoji_picker__sticky_header .p-emoji_picker__heading,
.menu.p-emoji_picker .p-emoji_picker__heading {
  background-color: var(--primary);
  color: var(--on-primary);
  border-color: transparent;
}
.menu.p-emoji_picker input[type="text"] {
  background-color: var(--primary-light);
  color: var(--on-primary);
  border-color: transparent;
}
.menu.p-emoji_picker input[type="text"]:placeholder {
  color: var(--on-primary-muted);
}
.menu.p-emoji_picker .p-emoji_picker__icon_search {
  color: var(--on-primary);
}
#col_messages {
  background-color: var(--chat);
  color: var(--on-chat);
  /* Chat room styles */
  /* additions to space the content out better and put some seperators */
  /* Chat room colours */
  /* Message input box */
}
#col_messages .p-message_pane {
  background-color: var(--chat);
}
#col_messages .c-message--light:not(.c-message--adjacent) .c-message__content::before {
  border-bottom: 0.5px solid var(--chat-light);
}
#col_messages .c-message--light:not(.c-message--adjacent) {
  margin-top: 9px;
}
#col_messages .p-message_pane .c-message_list.c-virtual_list--scrollbar > .c-scrollbar__hider,
#col_messages .p-message_pane .c-message_list:not(.c-virtual_list--scrollbar),
#col_messages .p-degraded_list__loading,
#col_messages #footer {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-color: transparent;
  color: inherit;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
#col_messages .p-message_pane .c-message_list.c-virtual_list--scrollbar > .c-scrollbar__hider::before,
#col_messages .p-message_pane .c-message_list:not(.c-virtual_list--scrollbar)::before {
  background-color: var(--primary);
  color: var(--on-primary);
}
#col_messages #msg_form .ql-placeholder {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-color: transparent;
  color: inherit;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
#col_messages #msg_input,
#col_messages #primary_file_button,
#col_messages #msg_input + #primary_file_button {
  background-color: var(--primary);
  color: var(--on-primary);
  border-color: var(--primary-light);
}
#col_messages #msg_input + #primary_file_button,
#col_messages #msg_form .msg_mentions_button,
#col_messages #msg_form .current_status_empty_emoji,
#col_messages #msg_form .current_status_empty_emoji_cover,
#col_messages #msg_form .emo_menu,
#col_messages #msg_form .ql-placeholder {
  color: var(--primary-light);
}
#col_messages #msg_form .msg_mentions_button:hover {
  color: var(--secondary);
}
#col_messages #msg_input + #primary_file_button.active,
#col_messages #msg_input + #primary_file_button.focus-ring,
#col_messages #msg_input + #primary_file_button:focus,
#col_messages #msg_input + #primary_file_button:hover {
  background-color: var(--secondary);
  color: var(--on-secondary);
  border-color: var(--secondary-light);
}
