/* Color customizations */

@import "colors.less";

// basic mixins used elsewhere
.reset-all() {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-color: transparent;
    color: inherit;
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

.primary-area() {
    background-color: @primary;
    color: @on-primary;
}

.secondary-area() {
    background-color: @secondary;
    color: @on-secondary;
}

.chat-area() {
    background-color: @chat;
    color: @on-chat;
}

.highlight-area() {
    background-color: @highlight;
    color: @on-highlight;
}

.input() {
    background-color: @primary-light;
    color: @on-primary;
    border-color: transparent;
}

/* some of the basic stuff */

a,
.blue_link {
    color: @secondary;

    &:hover,
    &:link,
    &:visited,
    &:focus {
        color: @secondary;
    }
}

/* fixes that fall outside any of the other includes */

#client_body:not(.onboarding)::before,
#client_body:not(.onboarding):not(.feature_global_nav_layout):before {
    .reset-all();
    .primary-area();
}

/* (optional) additions to space the content out better and put some seperators */
.c-message--light:not(.c-message--adjacent) .c-message__content::before {
    border-bottom: 0.5px solid @chat-light;
}

.c-message--light:not(.c-message--adjacent) {
    margin-top: 9px;
}

/* (optional) larger emoji */

.c-reaction .emoji-sizer {
    font-size: 24px; // 16px is normal. IMO 32px is too big. I split the difference
}

.light_theme .emoji-only {
    line-height: 96px; // 32px is normal. I prefer mine a little bigger than 64px
    font-size: 96px;
}

/* some styles that weren't working in their specified containers */

.light_theme ts-message .message_content .message_sender {
    color: @on-chat-strong  !important;
}

.highlight_yellow_bg {
    .reset-all();
    .highlight-area();
    background-color: @highlight  !important;
}

// // styles to reset certain elements
// @import "reset.less";
// //import all the old crap for now
// @import "old.less";
// styles related to the header
@import "header.less";
// styles related to the emoji picker
@import "emoji.less";
// styles related to the main chat area
@import "chat.less";
// code syntax highlighting
@import "code.less";
// sidebar colors
@import "sidebar.less";