/* The base of everything */
body {
  background-color: #0d0d0f;
  color: #e0e0e0;
}
/* Primary color sections */
.p-emoji_picker__input_container,
.p-emoji_picker__list_container,
.p-emoji_picker__group_tab--active,
.p-emoji_picker__skintone_options,
.p-emoji_picker__content:hover .p-emoji_picker__skintone_btn_container,
.tab_complete_ui {
  background-color: #0d0d0f;
  color: #e0e0e0;
  border-color: transparent;
}
/* borders for popups */
.menu.p-emoji_picker,
.tab_complete_ui {
  border: 1px solid rgba(49, 49, 56, 0.8);
}
/* message hover */
.c-message--focus:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight),
.c-message--hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight),
.c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) {
  background: rgba(49, 49, 56, 0.75);
}
/* additions to space the content out better and put some seperators */
.c-message--light:not(.c-message--adjacent) .c-message__content::before {
  border-bottom: 0.5px solid rgba(49, 49, 56, 0.8);
}
.c-message--light:not(.c-message--adjacent) {
  margin-top: 9px;
}
/* headers and panels */
.channel_header,
#client_body:not(.onboarding):before,
.c-message_list__day_divider__label__pill,
.p-message_pane .c-message_list.c-virtual_list--scrollbar > .c-scrollbar__hider::before,
.p-message_pane .c-message_list:not(.c-virtual_list--scrollbar)::before,
.c-message_actions__container,
.c-menu,
.menu,
.menu #monkey_scroll_wrapper_for_menu_items_scroller,
.menu .section_header .header_label,
.menu.p-emoji_picker,
.p-emoji_picker__footer,
.p-emoji_picker__heading,
.tab_complete_ui .tab_complete_ui_header {
  background: #313138;
  color: #e0e0e0;
  box-shadow: none;
}
/* hr, day divider */
hr,
.c-message_list__day_divider__line {
  border-color: rgba(49, 49, 56, 0.8);
}
/* secondary hr */
.menu hr {
  border-color: rgba(85, 85, 97, 0.1);
}
/* message, input boxes */
#msg_input,
#primary_file_button,
#msg_input + #primary_file_button:not(:hover):not(.active),
.uneditable-input,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
input[type="search"],
textarea {
  background-color: #313138;
  color: #e0e0e0;
  border-color: #717274;
}
/* titles */
.channel_title .channel_name,
.c-message--light .c-message__sender .c-message__sender_link,
.p-emoji_picker__heading,
.c-member__display-name,
.c-team__display-name,
.c-usergroup__handle,
.tab_complete_ui ul.type_members .unify_broadcast {
  color: #ffffff;
}
/* buttons for message actions */
.c-message_actions__button {
  color: inherit;
  border-color: #0d0d0f;
}
/* fade on expandable attachments */
.c-file_container--gradient::after {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #0d0d0f);
}
/* message hover */
.c-message--focus:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) .c-file_container--gradient::after,
.c-message--hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) .c-file_container--gradient::after,
.c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) .c-file_container--gradient::after {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(49, 49, 56, 0.75));
}
/* 
 * fixing font and background colours in some places
 * These are places that have colours defined in slack's css, but really should just inherit
 */
.c-message__body,
.c-message_attachment__image,
#footer,
#footer.footer_msg_input,
#col_messages,
.p-message_pane,
.p-message_pane .c-message_list:not(.c-virtual_list--scrollbar),
.p-message_pane .c-message_list.c-virtual_list--scrollbar > .c-scrollbar__hider,
.channel_header_info_item:not(:empty) ~ .channel_header_info_item:not(:first-child)::before,
#edit_topic_inner:not(.unable_to_post)::before,
.channel_header_info button,
.messages_header,
.c-message_attachment,
.texty_legacy.texty_single_line_input,
.texty_legacy .ql-placeholder,
.c-file_container,
pre,
.c-snippet__code .CodeMirror-code > div::before,
.c-menu_item__button,
.c-menu_item__button:link,
.c-menu_item__button:visited,
.menu ul li a,
.p-degraded_list__loading,
.p-emoji_picker__preview_text {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-color: transparent;
  color: inherit;
}
/* add border to code block margin adter it's removed by the previous fix */
.c-snippet__code .CodeMirror-code > div::before {
  border-color: rgba(49, 49, 56, 0.8);
}
/* Code syntax highlighting */
/*
 * code syntax highlighting
 */
code {
  background-color: #1d1f21;
  border: 1px solid #282a2e;
  color: #e0e0e0;
}
.file_list_item.snippet .snippet_preview {
  background: #1d1f21;
}
.snippet_preview,
.snippet_body {
  background: #1d1f21;
}
.snippet_preview pre,
.snippet_body pre {
  color: #e0e0e0 !important;
}
.file_container .CodeMirror .CodeMirror-code > div::before,
.file_container .CodeMirror .sssh-line::before,
.file_container .sssh-code .CodeMirror-code > div::before,
.file_container .sssh-code .sssh-line::before {
  background-color: #282a2e;
  border-right: 1px solid #282a2e;
  color: #81a2be;
}
.c-snippet__code .CodeMirror {
  background: #1d1f21;
  border: 1px solid #282a2e;
  color: #e0e0e0;
}
.c-snippet__code .CodeMirror pre {
  background: transparent !important;
}
.c-snippet__code .CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #e0e0e0;
}
.c-snippet__code .CodeMirror.cm-fat-cursor div.CodeMirror-cursor {
  background: #e0e0e0;
}
.c-snippet__code .CodeMirror .CodeMirror-gutters {
  background-color: #282a2e;
  border-right: 1px solid #282a2e;
}
.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
  background-color: #282a2e;
}
.CodeMirror-linenumber {
  color: #81a2be !important;
}
.CodeMirror-guttermarker {
  color: #81a2be;
}
.CodeMirror-guttermarker-subtle {
  color: #81a2be;
}
.CodeMirror-ruler {
  border-left: 1px solid #969896;
}
.cm-s-default .cm-keyword,
.sssh-keyword {
  color: #569cd6;
}
.cm-s-default .cm-atom,
.sssh-atom {
  color: #9fa8da;
}
.cm-s-default .cm-number,
.sssh-number {
  color: #b5cea8;
}
.cm-s-default .cm-def,
.sssh-def {
  color: #569cd6;
}
.cm-s-default .cm-variable,
.sssh-variable {
  color: #9cdcfe;
}
.cm-s-default .cm-variable-2,
.sssh-variable-2 {
  color: #4ec9b0;
}
.cm-s-default .cm-variable-3,
.sssh-variable-3 {
  color: #d7ba7d;
}
.sssh-operator {
  color: #c586c0;
}
.sssh-property {
  color: #9cdcfe;
}
.cm-s-default .cm-comment,
.sssh-comment {
  color: #505050;
}
.cm-s-default .cm-string,
.sssh-string {
  color: #ce9178;
}
.cm-s-default .cm-string-2,
.sssh-string-2 {
  color: #ce9178;
}
.cm-s-default .cm-meta,
.sssh-meta {
  color: #e0e0e0;
}
.cm-s-default .cm-qualifier,
.sssh-qualifier {
  color: #e0e0e0;
}
.cm-s-default .cm-builtin,
.sssh-builtin {
  color: #e0e0e0;
}
.cm-s-default .cm-bracket,
.sssh-bracket {
  color: #e0e0e0;
}
.cm-s-default .cm-tag,
.sssh-tag {
  color: #569cd6;
}
.cm-s-default .cm-attribute,
.sssh-attribute {
  color: #4ec9b0;
}
.cm-s-default .cm-header,
.sssh-header {
  color: #569cd6;
}
.cm-s-default .cm-quote,
.sssh-quote {
  color: #608b4e;
}
.cm-s-default .cm-hr,
.sssh-hr {
  color: #e0e0e0;
}
.cm-s-default .cm-link,
.sssh-link {
  color: #569cd6;
}
.cm-negative {
  color: #bf360c;
}
.cm-positive {
  color: #0c95bf;
}
.cm-invalidchar,
.cm-s-default .cm-error,
.sssh-error {
  color: #bf360c;
}
.c-snippet__code div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0c95bf;
}
.c-snippet__code div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #bf360c;
}
.CodeMirror-matchingtag {
  background: #1d1f21;
}
.CodeMirror-activeline-background {
  background: #969896;
}
.CodeMirror-selected {
  background: #969896;
}
.CodeMirror-focused .CodeMirror-selected {
  background: #969896;
}
.cm-searching {
  background: #969896;
}
