/* Color customizations */

@import "colors.less";
// basic mixins used elsewhere
.reset-all {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-color: transparent;
    color: inherit;
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

.primary-area {
    background-color: var(--primary);
    color: var(--on-primary);
}

.secondary-area {
    background-color: var(--secondary);
    color: var(--on-secondary);
}

.chat-area {
    background-color: var(--chat);
    color: var(--on-chat);
}

.input {
    background-color: var(--primary-light);
    color: var(--on-primary);
    border-color: transparent;
}

#client_body:not(.onboarding)::before {
    .reset-all();
    .primary-area();
}

// // styles to reset certain elements
// @import "reset.less";
// //import all the old crap for now
// @import "old.less";
// styles related to the header
@import "header.less";
// styles related to the emoji picker
@import "emoji.less";
// styles related to the main chat area
@import "chat.less";
// code syntax highlighting
@import "code.less";